{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "rules": {
    "no-unused-vars": "off",
    "react/prop-types": "off",
    "react/destructuring-assignment": "off",
    "no-use-before-define": "off",
    "object-curly-newline": "off",
    "consistent-return": "off",
    "linebreak-style": "off",
    "operator-linebreak": "off",
    "no-underscore-dangle": "off",
    "indent": "off",
    "no-nested-ternary": "off",
    "comma-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "no-confusing-arrow": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-boolean-value": "off",
    "arrow-body-style": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}